.noticeboard-evidence .accordion-toggler {
    cursor: pointer;
}
#search_document {
  padding: 10px;
  background: #f1f1f1;
  border: 1px solid #e7e7e7;
}
#search_document:before {
  content: '';
  font-family: "FontAwesome";
  margin-right: 20px;
}
#search_document .form-row {
  display: inline-block;
  margin-right: 20px;
}
#search_document .form-row input[type=submit] {
  font-size: 14px;
  padding: 3px 20px;
}
#search_document .form-row label {
  width: auto;
}
